<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--<properties resource="web.properties">-->
    <settings>
	  <setting name="cacheEnabled" value="true"/>
	</settings>
	<!-- <plugins>  
	    <plugin interceptor="com.eightzero.admin.web.PageInterceptor"></plugin>  
	</plugins>   -->
    <environments default="local">
        <environment id="247">
        <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <property name="driver" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://192.168.1.247:3306/microcampus" />
            <property name="username" value="root"/>
            <property name="password" value="abc#12345"/>
            <property name="poolPingQuery" value="select 1"/>
            <property name="poolPingEnabled" value="true"/>
            <property name="poolPingConnectionsNotUsedFor" value="7200000"/>
            </dataSource>
        </environment>
        <environment id="test115">
       		<transactionManager type="JDBC"/>
            <dataSource type="POOLED">
	            <property name="driver" value="com.mysql.jdbc.Driver"/>
	            <property name="url" value="jdbc:mysql://203.195.172.115:1206/microcampus" />
	            <property name="username" value="root"/>
	            <property name="password" value="abc#12345"/> 
	            <property name="poolPingQuery" value="select 1 from dual"/>
	            <property name="poolPingEnabled" value="true"/>
	            <property name="poolPingConnectionsNotUsedFor" value="7200000"/>
            </dataSource>
        </environment>
        
        
        <environment id="local">
       		<transactionManager type="JDBC"/>
            <dataSource type="POOLED">
	            <property name="driver" value="com.mysql.jdbc.Driver"/>
	            <property name="url" value="jdbc:mysql://127.0.0.1:3306/myblog" />
	            <property name="username" value="root"/>
	            <property name="password" value=""/> 
	            <property name="poolPingQuery" value="select 1 from dual"/>
	            <property name="poolPingEnabled" value="true"/>
	            <property name="poolPingConnectionsNotUsedFor" value="7200000"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
      <mapper resource="com/my/sqlXml/login.xml"/>
      <!-- 
      <package name="com.eightzero.admin.db.mapper"/>  -->
    </mappers>
</configuration>
